name: Build and Release
on:
  push:
    tags:
      - 'v*'
jobs:
  build-rpm:
    runs-on: ubuntu-latest
    container: fedora:latest
    steps:
      - name: Install Build Tools
        run: dnf install -y git rpm-build rpmdevtools tar make

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Prepare Version
        id: get_version
        run: |
          echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Build RPM
        run: |
          rpmdev-setuptree
          
          sed -i "s/^Version:.*/Version:        ${{ env.VERSION }}/" *.spec
          
          tar czf ~/rpmbuild/SOURCES/dracut-cryptsetup-duress-${{ env.VERSION }}.tar.gz --exclude=.git .
          
          rpmbuild -bb *.spec
          
          mv ~/rpmbuild/RPMS/noarch/*.rpm .

      - name: Upload RPM Artifact
        uses: actions/upload-artifact@v4
        with:
          name: rpm-package
          path: ./*.rpm

  build-arch:
    runs-on: ubuntu-latest
    container: archlinux:latest 
    steps:
      - name: Install Build Tools
        run: |
          pacman -Sy --noconfirm archlinux-keyring
          pacman -Su --noconfirm
          pacman -S --noconfirm base-devel git

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Fix Git Ownership
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - name: Update PKGBUILD version
        run: |
          echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV
          VERSION=${GITHUB_REF#refs/tags/v}
          sed -i "s/^pkgver=.*/pkgver=$VERSION/" PKGBUILD
          echo "Building version $VERSION"

      - name: Build Package
        run: |
          # cannot use root to build
          useradd -m builder
          echo "builder ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers

          # variables
          PKG_NAME="dracut-cryptsetup-duress"
          PKG_VER="${{ env.VERSION }}"
          DIR_NAME="${PKG_NAME}-${PKG_VER}"
          TAR_NAME="${DIR_NAME}.tar.gz"
          BUILD_DIR="/tmp/build"

          # prepare tarball
          mkdir -p "/tmp/${DIR_NAME}"
          cp -r . "/tmp/${DIR_NAME}/"
          tar czf "${TAR_NAME}" -C /tmp "${DIR_NAME}"

          # move tarball, PKGBUILD and install file
          mkdir -p "${BUILD_DIR}"
          mv "${TAR_NAME}" PKGBUILD "${PKG_NAME}.install" "${BUILD_DIR}/"

          # build
          chown -R builder:builder "${BUILD_DIR}"
          cd "${BUILD_DIR}"
          su builder -c "makepkg -sf --noconfirm"

          # move package back to workspace
          mv *.pkg.tar.zst "${GITHUB_WORKSPACE}/"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: arch-package
          path: ./*.pkg.tar.zst

  create-release:
    needs: [build-rpm, build-arch] 
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: rpm-package
          path: ./assets

      - uses: actions/download-artifact@v4
        with:
          name: arch-package
          path: ./assets
          
      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./assets/*.rpm
            ./assets/*.pkg.tar.zst
